* {
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  list-style: none;
}
body {
  background-color: gainsboro;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  background-color: gray;
}
